AUTH = YOUR_AUTH
BUCKET_NAME = YOUR_BUCKET_NAME
TEMP_FILE_PATH = YOUR_TEMP_FILE_PATH
AWS_ACCESS_KEY = YOUR_AWS_ACCESS_KEY
AWS_SECRET_KEY = YOUR_AWS_SECRET_KEY
ABS_FILE_PATH = YOUR_ABS_FILE_PATH
TEMP_FILE_PATH = YOUR_TEMP_FILE_PATH